

.title{
  padding: 1%;
  text-align: center;
  font-size: large;

}

.navbar{
  padding-left: 50%;
  background-color: #A3232B;

}

.navbar-brand{
  color: white;
}

.btn{
  color: white;
}

a {
  color: #ff6600;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

