<div class="contact">
  <!--<h2> My contact information </h2>-->
  <h2> {{'Contact.title' | translate}} </h2>

  <div class="row">
    <div class="col-md-6">
      <!--<p>
        To contact me, you can use the information below:</p>-->
      <p>
        {{'Contact.description' | translate}}
       </p>
      <ul>
        <li><i class="fas fa-envelope"></i> {{'Contact.email' | translate}}</li>
        <li><i class="fas fa-phone"></i> {{'Contact.phoneNumber' | translate}}</li>
       <li><i class="fas fa-map-marker-alt"></i> {{'Contact.address' | translate}}</li>
        <li><i class="fas fa-map-location"></i> {{'Contact.country' | translate}}</li>
      </ul>
    </div>
    <div class="col-md-6">
      <app-map></app-map>
    </div>
  </div>
</div>
