<div class="contact">
  <h2> My contact information </h2>
  <div class="row">
    <div class="col-md-6">
      <p>
        To contact me, you can use the information below:</p>
      <ul>
        <li><i class="fas fa-envelope"></i> Email : romain.huntzinger@viacesi.fr</li>
        <li><i class="fas fa-phone"></i> Phone number: 06 28 18 74 95</li>
       <li><i class="fas fa-map-marker-alt"></i> Address : 23 rue des perches, 68950 Reiningue</li>
        <li><i class="fas fa-map-location"></i> Country  : France</li>

      </ul>
    </div>

  </div>
</div>
