<div class="contact">
  <h2>Mes coordonnées </h2>
  <div class="row">
    <div class="col-md-6">
      <p>Pour me contacter, vous pouvez utiliser les informations ci-dessous :</p>
      <ul>
        <li><i class="fas fa-envelope"></i> Email : romain.huntzinger@viacesi.fr</li>
        <li><i class="fas fa-phone"></i> Téléphone : 06 28 18 74 95</li>
       <!-- <li><i class="fas fa-map-marker-alt"></i> Adresse : 23 rue des perches, 68950 Reiningue</li> -->
      </ul>
    </div>

   <!-- <div class="col-md-6">
      <form>
        <div class="mb-3">
          <label for="nom" class="form-label">Nom</label>
          <input type="text" class="form-control" id="nom" placeholder="Entrez votre nom">
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Adresse email</label>
          <input type="email" class="form-control" id="email" placeholder="Entrez votre adresse email">
        </div>
        <div class="mb-3">
          <label for="message" class="form-label">Message</label>
          <textarea class="form-control" id="message" rows="3" placeholder="Entrez votre message"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Envoyer</button>
      </form>
    </div> -->
  </div>
</div>
