<div class="interests">
  <h2>Mes centres d'intêrets </h2>
  <div class="row">
    <div class="col-md-4 mb-5">
      <div class="card h-100 border-0 p-0">
        <div class="images">
          <img src="assets/basket.jpg" class="card-img-top" >
        </div>

        <div class="card-body">
          <h5 class="card-title">Sport</h5>
          <p class="card-text">Je suis un passionné de sport, notamment de basketball. Je pratique la musculation.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-5">
      <div class="card h-100 border-0 p-0">
        <div class="images">
          <img src="assets/guitare.jpg" class="card-img-top " >
        </div>
        <div class="card-body">
          <h5 class="card-title">Musique</h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-5">
      <div class="card h-100 border-0 p-0">
        <div class="images">
          <img src="assets/code.jpg" class="card-img-top" >
        </div>
        <div class="card-body">
          <h5 class="card-title">Informatique</h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
  </div>

</div>
