<div class="interests">
  <h2> <!--My interests  --> {{'Interests.title' | translate}} </h2>
  <div class="row">
    <div class="col-md-4 mb-5">
      <div class="card h-100 border-0 p-0">
        <div class="images">
          <img src="assets/basket.jpg" class="card-img-top" >
        </div>

        <div class="card-body">
          <h5 class="card-title">{{'Interests.sport' | translate}}</h5>
          <p class="card-text"> <!--I am passionate about sports, particularly basketball. I used to play in a team for 12 years and I also love watching the NBA. I love sports in general, I enjoy running and riding bike a lot. I started working out 3 yearss ago. -->
            {{'Interests.sportDescription' | translate}}
            </p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-5">
      <div class="card h-100 border-0 p-0">
        <div class="images">
          <img src="assets/guitare.jpg" class="card-img-top " >
        </div>
        <div class="card-body">
          <h5 class="card-title">{{'Interests.musique' | translate}}</h5>
          <p class="card-text"> {{'Interests.musicDescription' | translate}}
           <!-- I have been playing music since I was 5 years old. I started with piano but I quickly switched to the guitar. I practice in a band and by myself. --></p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-5">
      <div class="card h-100 border-0 p-0">
        <div class="images">
          <img src="assets/code.jpg" class="card-img-top" >
        </div>
        <div class="card-body">
          <h5 class="card-title">{{'Interests.computerScience' | translate}}</h5>
          <p class="card-text"> {{'Interests.ITDescription' | translate}} </p>
             <li> {{'Interests.example1' | translate}}</li>
             <li> {{'Interests.example2' | translate}}</li>
          <li> {{'Interests.example3' | translate}} </li>

            <!--I am passionate about computer science, and I enjoy creating small projects such as: in Python. I also made servers projects using a Raspberry Pi 4. For example I made a Minecraft server.
          Finally I made this Portfolio with Angular Technology as a personnal project. -->

        </div>
      </div>
    </div>
  </div>
</div>
