<div class="interests">
  <h2> <!--My interests  --> Mes centres d'intérêt</h2>
  <div class="row">
    <div class="col-md-4 mb-5">
      <div class="card h-100 border-0 p-0">
        <div class="images">
          <img src="assets/basket.jpg" class="card-img-top" >
        </div>

        <div class="card-body">
          <h5 class="card-title">Sport</h5>
          <p class="card-text"> <!--I am passionate about sports, particularly basketball. I used to play in a team for 12 years and I also love watching the NBA. I love sports in general, I enjoy running and riding bike a lot. I started working out 3 yearss ago. -->
            Je suis également un sportif passioné, en particulier de basketball.
            J'ai joué dans une équipe pendant 12 ans et je m'intéresse beaucoup à la NBA.
            J'aime le sport en général et j'ai commencé la musculation il y a 3 ans.
            </p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-5">
      <div class="card h-100 border-0 p-0">
        <div class="images">
          <img src="assets/guitare.jpg" class="card-img-top " >
        </div>
        <div class="card-body">
          <h5 class="card-title">Musique</h5>
          <p class="card-text"> Je fais de la musique depuis l'âge de 6 ans. J'ai commencé avec le piano puis j'ai rapidement basculé pour la guitare.
           <!-- I have been playing music since I was 5 years old. I started with piano but I quickly switched to the guitar. I practice in a band and by myself. --></p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-5">
      <div class="card h-100 border-0 p-0">
        <div class="images">
          <img src="assets/code.jpg" class="card-img-top" >
        </div>
        <div class="card-body">
          <h5 class="card-title">L'informatique</h5>
          <p class="card-text"> Passionné d'informatique j'aime faire des petits projets tel que : </p>
             <li> La configuration d’OpenMediaVault sur un Raspberry Pi pour la création d’un partage Samba. Configuration d’un Open VPN.</li>
             <li> Divers projets en Python (Hand tracker, jeux 2D)</li>
          <li> Installation d’un serveur Minecraft sur un Raspberry Pi </li>

            <!--I am passionate about computer science, and I enjoy creating small projects in Python. I also made servers projects using a Raspberry Pi 4. For example I made a Minecraft server.
          Finally I made this Portfolio with Angular Technology as a personnal project. -->

        </div>
      </div>
    </div>
  </div>
</div>
