<div class="parcours">
  <h2>Education </h2>
  <div class="accordion" id="accordionPanelsStayOpenExample">
    <div class="accordion-item  ">
      <h2 class="accordion-header ">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
          Cesi école d'ingénieur
        </button>
      </h2>
      <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
        <div class="accordion-body">
          <strong>2020-2025 :</strong> Computer Science Student at Cesi Ecole d'ingénieur, studying software developpement, big data and storage, network and systems etc...
          and preparing a master degree.
        </div>
      </div>
    </div>
    <div class="accordion-item ">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
          High school degree
        </button>
      </h2>
      <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
        <div class="accordion-body">
          <strong>2020:</strong> I graduated from high school in 2020.
        </div>
      </div>
    </div>
  </div>

</div>

