<link href="https://cdn.materialdesignicons.com/5.4.55/css/materialdesignicons.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="competences">
  <h2> <i class="fa-sharp fa-solid fa-terminal"></i> {{'Skills' | translate}}</h2>
  <br>
  <ul>
    <li>
      <i class="fab fa-html5"></i> HTML5
    </li>
    <li>
      <i class="fab fa-css3-alt"></i> CSS3
    </li>
    <li>
      <i class="fab fa-js-square"></i> Typescript
    </li>
    <li>
      <i class="fab fa-angular"></i> Angular
    </li>
    <li>
      <i class="fab fa-node-js"></i> NodeJS
    </li>
    <li>
      <i class="mdi mdi-language-csharp"></i> C#
    </li>
    <li>
      <i class="fab fa-python"></i> Python
    </li>
    <li>
      <i class="material-icons">local_fire_department</i> Firebase
    </li>
    <li>
      <i class="fab fa-github"></i> Github
    </li>
  </ul>
  <div class="pictures">
  </div>
  <br>
  <h2> <i class="fa-sharp fa-solid fa-terminal"></i> {{'Language.title' | translate}}</h2>
  <br>

  <ul>
    <li> <p> {{'Language.language1' | translate}} </p>  </li>
    <li> <p> {{'Language.language2' | translate}} </p>
    </li>

  </ul>

</div>
