.principale {
  margin: 5px;
  padding: 2px;
  border-radius: 10px;
  border-style: solid;



}

.content {
  min-height: 100%;
  margin-bottom: -50px;

}

.foot, .push {
  height: 50px;
}


.foot {
  background-color: #A3232B;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #A3232B;
  color: white;
  font-size: 24px;
  padding: 20px;
  text-align: center;
}


.push {
  clear: both;
}


