<div class="content">

  <div class="title">
    <h1> Romain Huntzinger</h1>
    <img src="assets/MN_8pix_0005.jpg">
  </div>

  <div>
    <h2>Computer Science Student</h2>
    <h3></h3>
  </div>

  <div>
    <p>Highly motivated upcoming IT engineering graduate doing sandwich class experienced in mobile cross-platform development.
      Strong/Solid knowledge of Angular, Ionic, HTML, CSS and Typescript. Skilled in backend Firebase API development.
      Quick and curious learner, team player aiming to confirm his skills and pursue career as a developer.
    </p>

  </div>

</div>
