<div class="content">

  <div class="title">
    <h1> Romain Huntzinger</h1>
    <img src="assets/MN_8pix_0005.jpg">
  </div>

  <div>
    <h2>Etudiant en école d'ingénieur en alternance </h2>
    <h3>Spécialité: informatique</h3>
  </div>

  <div>
    <p>Bienvenue sur mon Portfolio, actuellement en école d'ingénieur dans l'informatique, je prépare mon diplôme d'ingénieur sous le statut d'alternant.
      Je suis depuis octobre 2022 apprentis développeur chez 8PIX situé 5 rue des moulins à Cernay 68700.
    </p>
  </div>

</div>
