<div class="content">

  <div class="title">
    <h1> Romain Huntzinger</h1>
    <img src="assets/MN_8pix_0005.jpg">
  </div>

  <div>
    <h2>Computer Science Student</h2>
  </div>

  <div>
    <p>Highly motivated upcoming IT engineering graduate doing sandwich class experienced in mobile cross-platform development.
      Strong/Solid knowledge of Angular, Ionic, HTML, CSS and Typescript. Skilled in backend Firebase API development.
      Quick and curious learner, team player aiming to confirm his skills and pursue career as a developer.
    </p>

    <h3>Who am I?</h3>
    <p>I'm a 20 years old student preparing a master degree on a work-study programm. Passionate about computers since I first used a computer,I decided to do my first internship in the world of development at the age of 14. I have completed various small personnal computer
    projects out of curiousity and as a hobbys.</p>

    <h3>My professional goals</h3>
    <p>My professional goals are to continue improving my skills as a developper, specially in backend developpement for mobile applications. Eventually when I have enough experience I would like to become a project manager to leads peoples later.   </p>




  </div>

</div>
